.box{
    width: 400px;
    height: 100px;
    border:2px solid black;
    padding:20px;
    background-color: rgba(236, 232, 245, 0.851);
    margin: 12px;
    border-radius: 20px;
}
a{
    color: rgb(39, 155, 227);
}